@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url('./Archives/backgrounds/index_background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.page {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  position: absolute;
  padding: 1% 1%;
  width: 19%;
  height: 80%;
  right: 0;
  z-index: 1;
}

.btn_contacts_menu {
  width: 18%;
  height: 8%;
  transition: 0.5s;
  box-shadow: 0 0 15px #9f39f3;
  border: none;
  border-radius: 50%;
  background: url('./Archives/elements_small/profile_menu_contacts.png');
  background-size: cover;
  cursor: pointer;
}

.btn_contacts_menu:hover {
  box-shadow: 0 0 30px #ffff;
}

.contacts_menu {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  background-color: #140329;
}

.contacts_title {
  color: white;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;

}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.contacts_links {
  color: #c25bfd;
  font-size: 1rem;
  margin: 3.4% 0;
  font-family: "Open Sans", sans-serif;
}

.contacts_label {
  color: white;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;

}

.social_medias {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15%;

}

.icons_socialMedias {
  width: 14%;
  height: 66%;
}

.icons_socialMedias img {
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  background-image: url('./Archives/backgrounds/Primary_Banner.gif');
  background-size: cover;
  background-color: black;
  margin-bottom: 5%;
  border-radius: 0 0 20px 20px;
}

.bloom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 0;
  border-radius: 0 0 20px 20px;
}

.banner_nav {
  position: relative;
  width: 100%;
  height: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.banner_link_nav {
  font-family: "Rubik", sans-serif;
  font-size: 1.9rem;
}

.link {
  transition: 0.2s linear;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.link:hover {
  text-shadow: -5px -10px 4px #9f39f3;
}

.information_content {
  position: relative;
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  height: 70%;
}

.profile_image {
  display: flex;
  width: 40%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 100px #ffffff59;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile_data {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  line-height: 1.6;
}

.name {
  color: white;
  font-size: 6rem;
  font-family: "Pixelify Sans", sans-serif;
  animation: textBlur 6s linear infinite;
}

.cargo {
  color: white;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 0.5rem white;
}

.localidade {
  color: white;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 0.5rem white;
}

.contents {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 3% 0;
}

.content_introduction {
  align-items: center;
  flex-direction: column;
}

.title_introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.text_introduction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 95%;
  height: 80%;
  font-family: "Open Sans", sans-serif;
}

.title_introduction p {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
}

.saudacao {
  font-size: 4.5rem;
  font-weight: bolder;
}

.text {
  font-size: 2.6rem;
  text-align: justify;
  line-height: 1.4;
}

span {
  font-weight: bolder;
}

.content_FA_OP {
  flex-wrap: nowrap;
}

.FA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.OP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 75%;
  padding: 5% 1.3%;
  font-family: "Open Sans", sans-serif;
}

.icon {
  width: 20%;
  height: 20%;
}

.icon img {
  width: 100%;
  height: 100%;
}

.title_FA_OP {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.text_FA_OP {
  font-size: 1.4rem;
  text-align: center;
}

.content_Experience {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 45%;
  margin: 1% 3%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.enterprises_img {
  width: 50%;
  height: 30%;
  margin: 0 0 2% 0;
  border-radius: 30px;
}

.enterprises_img img {
  width: 100%;
  height: 100%;
}

.title_enterprise {
  font-size: 1.3rem;
  font-weight: bolder;
}

.enterprises_cargo {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: 0 0 2% 0;
}

.text_function_enterprise {
  font-size: 1.1rem;
}


.carrossel {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.text_carrossel {
  position: absolute;
  display: flex;
  width: 30%;
  padding: 0 2%;
  background-color: black;
  border-right: 20px solid #fff;
}

.text_carrossel p {
  color: white;
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
}

.carrossel img {
  min-width: 100%;
  max-height: 100%;
}

.nav_Buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6.7%;
  bottom: 0;
}

.btn_carrossel {
  width: 3.3%;
  height: 100%;
  border-radius: 50%;
  border: none;
  margin: 0 1%;
  background-color: white;
  cursor: pointer;
}

#next {
  background: url('./Archives/elements_small/next_button.png');
  background-size: contain;
}

#back {
  background: url('./Archives/elements_small/back_button.png');
  background-size: contain;
}

.carrossel_change_0 {
  animation: carrossel_change 1.5s linear;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  background-color: #111111;
}

.associations {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
  padding: 0 2%;
  background-color: #0e0e0e;
}

.associations_links{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  padding: 2% 0;
  color: white;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;

}

.associations_links ul {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.associations_links ul a {
  color: #9f39f3;
  margin: 1% 0;
  text-decoration: none;
}

.associations_links ul a:hover{
  color: white;
}

footer p {
  font-size: 1.1rem;
  padding: 0 2%;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.icons_teste {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 30%;
  padding: 0 2%;
}

.footer_svg {
  width: 7%;
  height: 30%;
  margin: 0 3%;
}

.footer_svg img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #9f39f3;
}

@keyframes carrossel_change {
  from {
    opacity: 1;
    ;
  }

  to {
    opacity: 0;
  }
}

@keyframes textBlur {
  0% {
    text-shadow: 0 0 30px #7000FF;
  }

  25% {
    text-shadow: 0 0 0px #b907b9;
  }

  50% {
    text-shadow: 0 0 30px #00a2ff;
  }

  75% {
    text-shadow: 0 0 0px #ff0062;
  }

  100% {
    text-shadow: 0 0 30px #7000FF;
  }

}